/*=========================================================
=                     RESET CSS                           =
=========================================================*/

/* Supprime les marges et paddings par défaut */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Empêche le défilement horizontal */

html,
body {
  overflow-x: hidden;
  min-height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  margin-top: auto;
}

/*=========================================================
=                     CSS VARIABLES                       =
=========================================================*/
:root {

  /* ===== Colors ===== */

  --color-primary: #5b21b6;
  --color-primary-hover: #38bdf8;
  --bg-section: rgb(240, 242, 253);
  --color-white: #ffffff;
  --color-black: #111827;

  --color-text: #222222;
  --color-text-light: #6b7280;

  --color-border: #e5e7eb;
  --color-border-dark: #374151;

  /* ===== Background ===== */

  --bg-light: #ffffff;
  --bg-dark: #111827;

  /* ===== Transition ===== */

  --transition: .3s ease;

  /* ===== Shadow ===== */

  --shadow:
    0 12px 30px rgba(0, 0, 0, .12);

}

/*=======================================================                 BODY                                =
  =========================================================*/

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: var(--bg-light);
  color: var(--color-text);
}

/*=========================================================
=                  GLOBAL ELEMENTS                        =
=========================================================*/

/* Images */

img {

  display: block;

  max-width: 100%;

}

/* Links */
/* Supprimer le soulignement des liens */
a {
  text-decoration: none;
  color: rgb(17, 24, 39);
  font-size: 16px;
  font-weight: 500;
  transition: color var(--transition);
}


/* Lists */



ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


/* Buttons */

button {

  border: none;

  cursor: pointer;

  font-family: inherit;

}

/*=========================================================
=                  BACK TO TOP BUTTON                     =
=========================================================*/

.back-top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 90px;
  height: 40px;
  border: none;
  border-radius: 15px;
  background: var(--color-primary);
  color: var(--color-white);
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, background-color .3s, color .3s;
  z-index: 1000;
}

.back-top.show {
  opacity: 1;
  visibility: visible;
}

.back-top:hover {
  background: var(--color-primary-hover);
}


/*=========================================================
=                     LIGHT MODE                          =
=========================================================*/

.header-container,
.hero-container,
.projects-container {
  background: var(--color-white);

  border-bottom: 1px solid var(--color-border);
}

.red {
  color: rgb(142, 2, 142);
}